.screen-reader-only {
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.topic {
  margin-bottom: 1em;
  padding: .25em;
  border: black thin solid;
  background-color: #EEEEFF;
  width: 40em;
}

.is-hidden {
  display: none !important;
}

/* icons */
.icon-svg--height-4 {
  height: 16px;
}

.icon-svg {
  display: inline-block;
  fill: currentColor;
  vertical-align: middle;
  height: 16px;
  width: 16px;
}

.icon-svg--color-silver {
  fill: #bbb;
  color: #bbb;
}

.icon-svg--color-blue {
  fill: #0090e3;
  color: #0090e3;
}

/* notice */
.notice {
  padding: 12px;
  border: 1px solid #0090e3;
  border-radius: 4px;
  background-color: #f2f7fc;
}

/* button styling */
.button,
.button:visited {
  background-color: #000;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  min-width: 64px;
  font-size: inherit;
  font-weight: bold;
  line-height: 16px;
  outline: none;
  padding: 8px;
  text-align: center;
  text-decoration: none;
}

.button:hover,
.button:visited:hover,
.button:focus,
.button:visited:focus,
.button:active,
.button:visited:active {
  background-color: #666;
  color: #fff;
  text-decoration: none;
}

/* dialog */
.dialog {
  padding: 8px;
  border: 1px solid #000;
  background-color: #ddd;
}

/* Menu */
.main-menu {
  background: #023365;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.main-navigation a {
  display: inline-block;
  padding: 0.3rem 1rem;
  color: #fff;
  text-decoration: none;
}

.main-navigation a:hover, .navigation a:focus {
  color: #036;
  background-color: #fff;
  text-decoration: underline;
}

.main-navigation [aria-current=page] {
  background-color: #bbb;
  color: #000;
  border-bottom: .25em solid #444;
}

.main-navigation a:not(:last-child) {
  border-right: 1px solid black;
}

/* Keyboard navigation - content ordering - flex */
.nav-content-ordering ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-content-ordering li {
  margin: 0 8px;
  text-transform: uppercase;
}

.nav-content-ordering a {
  padding: .5em;
  display: inline-block;
  border: 2px solid black;
  border-radius: .5em;
  text-decoration: none;
  color: #333;
}

.nav-content-ordering a:focus {
  outline: 4px solid orange;
}

.nav-content-ordering--flex li:nth-child(2) {
  order: 2;
  margin-left: auto;
}

/* Keyboard navigation - content ordering - grid */
.card-container {
  max-width: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  gap: 20px;
}

.card {
  border: 4px solid #eee;
  border-radius: .5em;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.card h2,
.card p {
  padding: .3em .5em;
  margin: 0;
}

.card a {
  display: block;
  padding: .3em .5em;
  margin: 0;
  text-decoration: none;
  background-color: #333;
  color: #fff;
}

.card a:focus {
  outline: 4px solid orange;
}

.card:nth-child(1) {
  grid-column: 2;
  grid-row: 1 / 3;
}

.card:nth-child(2) {
  grid-column: 1;
  grid-row: 4 / 6;
}

.card:nth-child(3) {
  grid-column: 3;
  grid-row: 3 / 5;
}

.card:nth-child(4) {
  grid-column: 1;
  grid-row: 1;
}

.card:nth-child(5) {
  grid-column: 2;
  grid-row: 5;
}

.card:nth-child(6) {
  grid-column: 1;
  grid-row: 6;
}

.card:nth-child(7) {
  grid-column: 1;
  grid-row: 2 / 4;
}

.card:nth-child(8) {
  grid-column: 3;
  grid-row: 2;
}

.card:nth-child(9) {
  grid-column: 3;
  grid-row: 5;
}

.card:nth-child(10) {
  grid-column: 3;
  grid-row: 1;
}

.card:nth-child(11) {
  grid-column: 2;
  grid-row: 3 / 5;
}

/* Keyboard navigation - Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(211, 211, 211, 0.4);
}

.modal-content {
  background-color: #ffffff;
  margin: 25% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* combobox */
.sample {
  border: 1px solid #eeeeee;
  background: #ffffff;
  max-width: 30em;
  padding: 1em;
  margin-bottom: 1em;
}

.custom-select {
  position: relative;
}

.select-css {
  display: block;
  font-size: 1em;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.25em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  position: relative;
  z-index: 10;
}

.select-css::-ms-expand {
  display: none;
}

.select-css:hover {
  border-color: #888;
}

.select-css:focus {
  border: 2px dashed blue;
  color: #222;
  outline: none;
}

.custom-select-icons {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  z-index: 20;
  border: 1px solid white;
  background: transparent;
}

.custom-select-options {
  border: 1px solid #aaa;
  border-radius: 0 0 0.25em 0.25em;
  line-height: 1.5;
  margin: 0;
  margin-top: -0.5em;
  padding: 0;
  list-style-type: none;
  font-weight: normal;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  width: calc(100% - 1px);
  background-color: #ffffff;
}

.custom-select-options li {
  padding: 1em;
}

.custom-select-options li:hover {
  background: blue;
  color: #fff;
  border: 1px solid blue;
  border-width: 0 0 0 1px;
}

.custom-select-options li:focus {
  border: 2px dashed blue;
}

.icon {
  fill: ButtonText;
  pointer-events: none;
}

@media screen and (-ms-high-contrast: active) {
  .icon {
    fill: ButtonText;
  }
}

/* Color - toggle switch */
.toggle__label {
  box-sizing: border-box;
  margin: 0;
  user-select: none;
}

.ic-Form-group.ic-Form-group--horizontal .toggle__label {
  display: inline-flex;
  align-items: center;
}

.toggle__input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.toggle__input:checked ~ label .toggle-switch:after {
  transform: translate3d(100%, 0, 0);
}

.toggle__input:checked ~ label .toggle__disabled-msg:before {
  content: attr(data-checked);
}

.toggle__input[disabled] ~ label .toggle__disabled-msg {
  display: block;
}

.toggle__input[disabled] ~ label .toggle-switch, .toggle__input[disabled] ~ label [class^="toggle-option-"] {
  display: none;
}

.toggle-switch {
  transition: background 0.1s, border-color 0.1s;
  /*display: inline-block;*/
  position: relative;
  line-height: 1;
  display: flex;
  align-items: center;
  background-clip: padding-box;
}

.toggle-switch::after {
  transition: all 0.1s ease-in-out;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
  border-radius: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  background-image: url("https://cl.ly/320m31452k2X/handle.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 20px;
}

.toggle__disabled-msg {
  display: none;
}

.toggle__disabled-msg:before {
  content: attr(data-unchecked);
  font-style: italic;
  opacity: 0.8;
}

[class^="toggle-option-"] {
  transition: opacity 0.2s, transform 0.2s;
  flex: 0 0 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  speak: none;
  box-sizing: border-box;
}

.toggle--on-off {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.toggle--on-off .toggle__input:focus ~ label .toggle-switch::after {
  box-shadow: inset 0 0 0 1px white, inset 0 0 0 3px #333, 0 3px 6px rgba(0, 0, 0, 0.3);
}

.toggle--on-off .toggle__input:checked ~ label .toggle-switch {
  background: #009b16;
  border-color: #009b16;
}

.toggle--on-off .toggle__input:checked ~ label .toggle-option-LEFT {
  color: white;
}

.toggle--on-off .toggle__input:checked ~ label .toggle-option-LEFT .toggle__svg > * {
  fill: white;
}

.toggle--on-off .toggle__input:checked ~ label .toggle-option-RIGHT {
  color: white;
}

.toggle--on-off .toggle__input:checked ~ label .toggle-option-RIGHT .toggle__svg > * {
  fill: white;
}

.toggle--on-off .toggle__input:checked:focus ~ label .toggle-switch::after {
  box-shadow: inset 0 0 0 1px white, inset 0 0 0 3px #009b16, 0 3px 6px rgba(0, 0, 0, 0.3);
}

.toggle--on-off .toggle-switch {
  width: 66px;
  height: 33px;
  background: #333;
  border: 2px solid #333;
  border-radius: 18.5px;
}

.ic-Form-group.ic-Form-group--horizontal .toggle--on-off .toggle-switch {
  flex: 0 0 66px;
}

.toggle--on-off .toggle-switch:after {
  background-color: white;
  width: 33px;
  height: 33px;
}

.toggle--on-off .toggle-option-LEFT {
  color: white;
}

.toggle--on-off .toggle-option-LEFT .toggle__svg > * {
  fill: white;
}

.toggle--on-off .toggle-option-RIGHT {
  color: white;
}

.toggle--on-off .toggle-option-RIGHT .toggle__svg > * {
  fill: white;
}

.toggle--on-off .toggle__svg {
  max-width: 16.5px;
  max-height: 16.5px;
}

.toggle--on-off [class^="toggle-option-"] {
  transition-delay: 0.1s;
}

.toggle--on-off .toggle-option-LEFT {
  opacity: 0;
}

.toggle--on-off .toggle-option-RIGHT {
  opacity: 1;
}

.toggle--on-off .toggle__input:checked ~ label .toggle-option-LEFT {
  opacity: 1;
}

.toggle--on-off .toggle__input:checked ~ label .toggle-option-RIGHT {
  opacity: 0;
}

.toggle--ui-switch {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.toggle--ui-switch .toggle__input:focus ~ label .toggle-switch::after {
  box-shadow: inset 0 0 0 1px white, inset 0 0 0 3px #333, 0 3px 6px rgba(0, 0, 0, 0.3);
}

.toggle--ui-switch .toggle__input:checked ~ label .toggle-switch {
  background: #333;
  border-color: #333;
}

.toggle--ui-switch .toggle__input:checked ~ label .toggle-option-LEFT {
  color: #253138;
}

.toggle--ui-switch .toggle__input:checked ~ label .toggle-option-LEFT .toggle__svg > * {
  fill: #253138;
}

.toggle--ui-switch .toggle__input:checked ~ label .toggle-option-RIGHT {
  color: #00ac19;
}

.toggle--ui-switch .toggle__input:checked ~ label .toggle-option-RIGHT .toggle__svg > * {
  fill: #00ac19;
}

.toggle--ui-switch .toggle__input:checked:focus ~ label .toggle-switch::after {
  box-shadow: inset 0 0 0 1px white, inset 0 0 0 3px #333, 0 3px 6px rgba(0, 0, 0, 0.3);
}

.toggle--ui-switch .toggle-switch {
  width: 66px;
  height: 33px;
  background: #333;
  border: 2px solid #333;
  border-radius: 18.5px;
}

.ic-Form-group.ic-Form-group--horizontal .toggle--ui-switch .toggle-switch {
  flex: 0 0 66px;
}

.toggle--ui-switch .toggle-switch:after {
  background-color: white;
  width: 33px;
  height: 33px;
}

.toggle--ui-switch .toggle-option-LEFT {
  color: #da062a;
}

.toggle--ui-switch .toggle-option-LEFT .toggle__svg > * {
  fill: #da062a;
}

.toggle--ui-switch .toggle-option-RIGHT {
  color: #253138;
}

.toggle--ui-switch .toggle-option-RIGHT .toggle__svg > * {
  fill: #253138;
}

.toggle--ui-switch .toggle__svg {
  max-width: 16.5px;
  max-height: 16.5px;
}

.toggle--ui-switch .toggle__label {
  display: inline-flex;
  align-items: center;
}

.toggle--ui-switch .toggle-switch {
  display: block;
}

.toggle--ui-switch [class^="toggle-option-"] {
  flex: none;
  min-width: 24px;
}

.toggle--ui-switch .toggle-option-LEFT {
  text-align: left;
  transform: scale(1.1);
}

.toggle--ui-switch .toggle-option-RIGHT {
  text-align: right;
  transform: scale(0.9);
}

.toggle--ui-switch .toggle__input:checked ~ label .toggle-option-LEFT {
  transform: scale(0.9);
}

.toggle--ui-switch .toggle__input:checked ~ label .toggle-option-RIGHT {
  transform: scale(1.1);
}

/* Layout - layout table */
.layout-table {
  width: 100%;
}

.layout-table td {
  padding: 18px 8px;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

.layout-table tr td:first-of-type {
  width: 34%;
}
