.icon-svg--height-4 {
    height: 16px;
}

.screen-reader-only {
    border: 0;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.topic {
    margin-bottom: 1em;
    padding: .25em;
    border: black thin solid;
    background-color: #EEEEFF;
    width: 40em;
}

.is-hidden {
    display: none !important;
}

.icon-svg {
    display: inline-block;
    fill: currentColor;
    vertical-align: middle;
    height: 16px;
    width: 16px;
}

.icon-svg--color-silver {
    fill: #bbb;
    color: #bbb;
}

.icon-svg--color-blue {
    fill: #0090e3;
    color: #0090e3;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000000;
    color: white;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}

.menu {
    background: #0090E3;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation a {
    display: inline-block;
    padding: 0.3rem 1rem;
    color: #000;
    text-decoration: none;
}

.navigation a:hover, nav a:focus {
    color: #fff;
    background: #000;
}

.navigation a:not(:last-child) {
    border-right: 1px solid black;
}
