.icon-svg--height-4 {
    height: 16px;
}

.screen-reader-only {
    border: 0;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.topic {
    margin-bottom: 1em;
    padding: .25em;
    border: black thin solid;
    background-color: #EEEEFF;
    width: 40em;
}

.is-hidden {
    display: none !important;
}

.icon-svg {
    display: inline-block;
    fill: currentColor;
    vertical-align: middle;
    height: 16px;
    width: 16px;
}

.icon-svg--color-silver {
    fill: #bbb;
    color: #bbb;
}

.icon-svg--color-blue {
    fill: #0090e3;
    color: #0090e3;
}
