.screen-reader-only {
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.is-hidden {
  display: none !important;
}

/* icons */
.icon {
  fill: ButtonText;
  pointer-events: none;
}

.icon-svg--height-4 {
  height: 16px;
}

.icon-svg {
  display: inline-block;
  fill: currentColor;
  vertical-align: middle;
  height: 16px;
  width: 16px;
}

.icon-svg--color-silver {
  fill: #bbb;
  color: #bbb;
}

.icon-svg--color-blue {
  fill: #0090e3;
  color: #0090e3;
}

/* notice */
.notice {
  margin: 1em 0;
  padding: 12px;
  border: 1px solid #0090e3;
  border-radius: 4px;
  background-color: #f2f7fc;
}

/* button styling */
.button,
.button:visited {
  background-color: #000;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  min-width: 64px;
  font-size: inherit;
  font-weight: bold;
  line-height: 16px;
  outline: none;
  padding: 8px;
  text-align: center;
  text-decoration: none;
}

.button:hover,
.button:visited:hover,
.button:focus,
.button:visited:focus,
.button:active,
.button:visited:active {
  background-color: #666;
  color: #fff;
  text-decoration: none;
}
